<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3"></div> 
      <div class="col-md-3">
           <!--Card-->
<!--Card Regular-->
<div class="card card-cascade narrower">

    <!--Card image-->
      <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Edgar Garnica</strong></h4>
        <h5>Desarrollador</h5>

        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
        </p>

        <!--Facebook-->
        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
        <!--Twitter-->
        <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
        <!--Google +-->
        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card Regular-->

      </div> 
      
       <div class="col-md-3">
           <!--Card Regular-->
<div class="card card-cascade narrower">

    <!--Card image-->
      <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Daniel Juarez</strong></h4>
        <h5>Ingeníero Informático</h5>

        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
        </p>

        <div>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/JuarezDevs" class="btn-social btn-outline" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://www.google/JuarezDevs" class="btn-social btn-outline" target="_blank"><i class="fab fa-google"></i></a>
                        </li>
                    </ul>
        </div>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card Regular-->


      </div> 
    </div>
  
      
   </div>
    




 