
 <div class="row" id="Acerca de">
        <div class="col-md-12 text-center">
            <h2>Acerca de</h2>
            <hr class="star-light">
        </div>
    </div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
        </div> 
      <div class="col-md-3">
           <!--Card-->
<!--Card Regular-->
<div class="card card-cascade narrower">

    <!--Card image-->
      <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Edgar Garnica</strong></h4>
        <h5>Desarrollador</h5>

        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
        </p>
        
    </div>
    
    <!--/.Card content-->

</div>
<!--/.Card Regular-->
</div>

      
       <div class="col-md-3">
           <!--Card Regular-->
<div class="card card-cascade narrower">

    <!--Card image-->
      <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Daniel Juarez</strong></h4>
        <h5>Ingeníero Informático</h5>

        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
        </p>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card Regular-->


      </div> 
    </div>
  
      
   </div>




 