<!-- Site footer -->

<footer id="footer" class="clearfix">
    <a name="footer"></a>
    <div id="footer-widgets">

        <div class="container">

            <div id="footer-wrapper">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div id="meta-3" class="widget widgetFooter widget_meta">
                            <h4 class="widgettitle">Informacion :</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
                                <li><a href="https://goo.gl/maps/etH5wTjSXCL2"><i class="fa fa-map-marker-alt"></i>   Chihuahua, Chih.</a></li>
                                <li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contactanos</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end widget1 -->

                    <div class="col-sm-6 col-md-4">
                        <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                            <h4 class="widgettitle">Contactos Sociales :</h4>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
                                </li>
                                <li>
                                    <a href="http://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i> Youtube</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end widget1 -->

                     <div class="col-sm-6 col-md-4">
                        <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                            <h4 class="widgettitle">Contizaciones :</h4>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"><i class="fas fa-at"></i> cotizaciones@juarezdevs.com</a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank"><i class="fas fa-mobile-alt"></i> (614) 3-58-76-01</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <!-- end widget1 -->


                </div>
                <!-- end .row -->

            </div>
            <!-- end #footer-wrapper -->

        </div>
        <!-- end .container -->
    </div>
    <!-- end #footer-widgets -->

    <div id="sub-floor">
        <div class="container">
            <div class="row">
                <div class="col-md-4 copyright">
                    Copy right for El Gary Locote © 2015
                </div>

            </div>
            <!-- end .row -->
        </div>
    </div>

</footer>