<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Chihuahua</h3>
                    <p>Chihuahua</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Redes sociales</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/JuarezDevs" class="btn-social btn-outline" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://www.google/JuarezDevs" class="btn-social btn-outline" target="_blank"><i class="fab fa-google"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Cotizaciones</h3>
                    <p>(614)358-76-01</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Juarez devs 2018
                </div>
            </div>
        </div>
    </div>
</footer>