<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">

    <div class="navbar-header">
       <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> DESARROLLO </a>
    </div>
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="#servicios"><span class="glyphicon glyphicon-cog"></span> Servicios</a></li>
        <li><a href="#acercaDe"><span class="glyphicon glyphicon-user"></span> Acerca de</a></li> 
        <li><a href="#contacto"><span class="glyphicon glyphicon-envelope"></span> Contacto</a></li> 
      </ul>
    </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>