

<div class="container" id="servicios">

<div class="container" id="Servicios">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Servicios</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <ul style="text-align: center;">
                <li>
                    <h4 (click)="webSite()">Sitios Web</h4>
                </li>
                <li>
                    <h4 (click)="cms()">Administradores de contenido</h4>
                </li>
                <li>
                    <h4 (click)="apps()">Apps</h4>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul style="text-align: center;">
                <li>
                    <h4 (click)="adWords()">Google Adwords</h4>
                </li>
                <li>
                    <h4 (click)="domain()">Dominio</h4>
                </li>
                <li>
                    <h4 (click)="hosting()">Hosting</h4>
                </li>
            </ul>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>